@media screen and (max-width: 428px) {
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0;
    }
    .header div ul{
        display: flex;
        list-style: none;
        align-items: center;
}
    header nav li:first-of-type {
        padding-left: 0;
    }
    .page{
        background-image: none;
        padding: 30px 10px;
    }
    .subtitle{
        padding: 0;
    }
    h1, .subtitle span{
        text-align: center;
    }
    .put{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 10px;
    }
    .put h3, .put p, .parts h3, .parts p, .fit p, .fit h3{
        text-align: center;
    }
    .put img, .parts img, .models img, .fit img{
        width: 100%;
    }
    .parts{
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 30px 10px;
    }
    .partners{
        padding: 30px 10px;
        margin-bottom: 80px;
    }
    .excerpt{
        padding: 0;
        gap: 30px;
    }
    .stripe{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0;
    }
    .hr{
        padding-bottom: 0;
    }

    .hr article{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .hr .img {
        padding-left: 0;
        padding-right: 0;
        width: 117px;
        height: 210px;
    }
    .models{
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .fit:first-of-type{
        display: flex;
        flex-wrap: wrap;
        padding-top: 90px;
        padding-bottom: 60px;
    }
    .aside, .shield{
        display: inline-block;
    }
    .aside{
        padding-bottom: 60px;
    }
    .shield:nth-child(2){
        margin: 40px 0;

    }
    .easy{
        text-align: center;
    }
    .after_list1::after{
        transform: rotate(90deg);
        top: 25%;
        right: 43%;
    }
    .after_list2::after{
        transform: rotate(90deg);
        top: 55%;
        right: 43%;
    }
    .after_list:first-of-type, .after_list:nth-child(2){
        padding-right: 0;
        padding-bottom: 100px;
    }
    .vector{
        margin-bottom: 25px;
    }
    .fit:nth-child(2){
        flex-wrap: nowrap;
    }
    .fit article a{
        margin-left: 25px;
    }
    .started{
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .image{
        background-size: cover;
    }
    header nav li:last-of-type{
        border-radius: 0;
        background: goldenrod;
    }
}
