@media screen and (max-width: 428px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }
    .header div ul{
        display: flex;
        list-style: none;
        align-items: center;
}
    header nav li:first-of-type {
        padding-left: 0;
    }

}

