$main_font: recoletaregular;
$main-secondfont: "Noto Sans", sans-serif;
$main_color: #FBFAF7;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

@font-face {
  font-family: 'recoletaregular';
  src: url('../fonts/recoleta-regular-webfont.eot');
  src: url('../fonts/recoleta-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/recoleta-regular-webfont.woff2') format('woff2'),
  url('../fonts/recoleta-regular-webfont.woff') format('woff'),
  url('../fonts/recoleta-regular-webfont.ttf') format('truetype'),
  url('../fonts/recoleta-regular-webfont.svg#recoletaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@mixin display{
  max-width: 1180px;
  margin: auto;
  display: flex;
}
@mixin h3{
  font-family: $main_font;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.125;
  color: #163a24;
  padding-bottom: 27px;
}
@mixin hr_excerpt{
  color: #FBFAF7;
  text-align: center;
  font-family: $main_font;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
}
@mixin p{
  font-family: $main-secondfont;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #163a24;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #163A24;
}
header{
    div {
      .cd-3d-nav-trigger{
        display: none;
      }
      nav {
        ul {
        display: flex;
        justify-content: end;
        list-style: none;
        align-items: center;
          li{
            a {
              color: $main_color;
              text-align: justify;
              font-family: $main-secondfont;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: none;
            }
            &:nth-child(2) {
              padding-left: 24px;
              padding-right: 24px;
            }
            &:first-of-type {
              padding-left: 239px;
            }
            &:last-of-type {
              border-radius: 160px;
              background: #198C36;
              padding: 15px 25px;
            }
          }
        }
      }
    }
}
.wrapper {
  background: #163A24;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  @include display;
  justify-content: center;
  align-items: center;
  gap: 437px;
  a img {
    display: flex;
  }
}
.background{
  background: #163A24;
}
main{
  background: $main_color;
  .page{
    @include display;
    background-image: url("../images/Frame.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 130px;
    .subtitle{
      max-width: 440px;
      display: inline-flex;
      padding-right: 16.656px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 18px;
      h1 {
        max-width: 391px;
        color: $main_color;
        font-family: $main_font;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 65.25px; /* 135.938% */
      }
      span{
        color: $main_color;
        font-family: $main-secondfont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
      }
    }
  }
  .put{
    @include display;
    align-items: center;
    padding-top: 120px;
    justify-content: space-around;
    article div{
      max-width: 380px;
      h3{
        @include h3;
      }
      p{
        @include p;
      }
    }
  }
  .parts{
    @include display;
    align-items: center;
    justify-content: space-around;
    article{
      max-width: 380px;
    h3{
      @include h3;
    }
    p{
      @include p;
    }
    }
  }
  .partners{
    padding-bottom: 120px;
    .excerpt{
      @include display;
      padding: 113.516px 98.344px 0px 98.328px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 66.484px;
      h3{
        color: #163A24;
        text-align: center;
        font-family: recoletaregular;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px; /* 112.5% */
      }
      .stripe{
        display: flex;
        height: 59.391px;
        padding: 0px 43.656px 0px 43.672px;
        justify-content: center;
        align-items: center;
        gap: 86px;
      }
    }
  }
  .hr{
    max-width: 1180px;
    margin: auto;
    padding-bottom: 120px;
    padding-top: 66px;
    h3{
      @include hr_excerpt;
    }
    article{
      max-width: 295px;
      margin: auto;
      display: inline-flex;
      align-items: center;
      flex-direction: column;
      p{
        color: #FBFAF7;
        text-align: center;
        font-family: $main-secondfont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
      }
      .img{
        padding: 74px 100px 28px 100px;
      }
    }
  }
  .models{
    background: #F2EFE6;
    padding-top: 120px;
    padding-bottom: 120px;
    .casting{
      display: flex;
      margin: auto;
      max-width: 786.656px;
      padding: 0px 13.313px 16.875px 13.344px;
      flex-direction: column;
      align-items: center;
      gap: 27px;
      h2{
        color: #163A24;
        text-align: center;
        font-family: $main_font;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px; /* 112.5% */
      }
      span{
        color: #163A24;
        text-align: center;
        font-family: $main-secondfont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
      }
    }
  }
  .fit{
    padding-top: 180px;
    padding-bottom: 120px;
    @include display;
    justify-content: space-around;
    align-items: center;
    article{
      max-width: 380px;
      h3{
        @include h3;
      }
      p{
        @include p;
      }
    }
  }
  .interest{
    max-width: 1180px;
    margin: auto;
    text-align: center;
    article{
      h3{
        @include h3;
      }
      span{
        @include p;
        padding-top: 26px;
        padding-bottom: 18px;
      }
      &:first-of-type{
        padding-bottom: 18px;
      }
    }
    .aside{
      padding-bottom: 120px;
      align-items: flex-start;
      display: inline-flex;
      .shield{
        max-width: 353px;
        border-radius: 15px;
        box-shadow: 5px 5px 20px 0px rgb(233, 228, 213);
        background: rgb(251, 250, 247);
        padding: 50px 66px 40px 20px;
        &:nth-child(2){
          margin-left: 40px;
          margin-right: 40px;
        }
        img{
          padding-bottom: 20px;
          padding-right: 190px;
        }
        ul{
          padding-left: 20px;
          li{
            font-family: $main-secondfont;
            font-weight: 400;
            font-size: 16px;
            color: #163a24;
            text-align: left;
          }
        }
        h4{
          font-family: $main_font;
          font-weight: 600;
          font-size: 28px;
          line-height: 1.125;
          color: #163a24;
          text-align: left;
          padding-bottom: 23px;
        }
      }
    }
  }
  .easy{
    @include display;
    padding-bottom: 18px;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    h3{
      @include h3;
    }
    span{
      @include p;
    }
  }
  .list{
    position: relative;
    .after_list{
      display: inline-block;
      padding-top: 23px;
      padding-bottom: 23px;
      h4{
        font-family: $main_font;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.125;
        text-align: center;
        color: #163a24;
      }
      &:first-of-type{
        padding-right: 130px;
      }
      &:nth-child(2){
        padding-right: 130px;
      }
    }
    a{
      border-radius: 160px;
      background: rgb(25, 140, 54);
      color: rgb(251, 250, 247);
      font-family: "noto_sansregular";
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      text-decoration: none;
      padding: 15px 25px;
    }
    .after_list1{
      &::after{
      position: absolute;
      content: url("../images/Vector1.svg");
      top: 35%;
      right: 65%;
      }
    }
    .after_list2{
      &::after{
      position: absolute;
      content: url("../images/Vector1.svg");
      top: 35%;
      right: 33%;
      }
    }
    .vector{
      background-image: url("../images/Vector.svg");
      width: 285px;
      height: 179px;
      box-sizing: border-box;
      background-size: contain;
      padding-top: 36px;
      background-repeat: no-repeat;
    }
  }
  .simple{
    padding-bottom: 34px;
  }
  .image{
    background-image: url("../images/leaves.svg"), url("../images/leaf.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
  }
  .fit article a{
    border-radius: 160px;
    background: rgb(25, 140, 54);
    color: rgb(251, 250, 247);
    font-family: $main-secondfont;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    padding: 15px 25px;
  }
  .started{
    max-width: 1180px;
    margin: auto;
    text-align: center;
    flex-direction: column;
    padding-bottom: 120px;
    padding-top: 120px;
    h3{
      font-family: $main_font;
      font-weight: 600;
      font-size: 48px;
      line-height: 1.125;
      color: #fbfaf7;
    }
    span{
      font-family: $main-secondfont;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      color: #fbfaf7;
      text-align: center;
      padding-bottom: 33px;
      padding-top: 27px;
      display: block;
    }
    a{
      border-radius: 160px;
      background: rgb(250, 181, 160);
      color: rgb(22, 58, 36);
      font-family: $main-secondfont;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      text-align: center;
      padding: 15px 25px;
      text-decoration: none;
    }
  }
}
.stay_up{
  background: #F2EFE6;
  padding-top: 60px;
  padding-bottom: 60px;
  article{
    @include display;
    justify-content: space-between;
    .date{
      max-width: 590px;
      h3{
        font-family: $main_font;
        font-weight: 600;
        font-size: 48px;
        line-height: 112%;
        color: #163a24;
        max-width: 342px;
        padding-bottom: 26px;
      }
      p{
        font-family: $main-secondfont;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #163a24;
        max-width: 299px;
      }
    }
    .sign_up{
      max-width: 590px;
      form{
        max-width: 590px;
        background: white;
        border-radius: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        margin-bottom: 11px;
        input{
          width: 80%;
          height: inherit;
          border: none;
          border-radius: 30px;
        }
        button{
          border-radius: 160px;
          width: 111px;
          height: 52px;
          background: #15762e;
          font-family: $main-secondfont;
          font-weight: 400;
          font-size: 16px;
          text-align: center;
          color: #fbfaf7;
        }
      }
      p{
        font-family: $main_font;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #163a24;
        a{
          font-family: $main_font;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #198c36;
          text-decoration: none;
        }
      }
    }
  }
}
.footer{
  padding-top: 20px;
  background-color: white;
  .company{
    padding-top: 23px;
    padding-bottom: 23px;
    align-items: center;
    position: relative;
    @include display;
    justify-content: space-between;
    ul{
      list-style-type: none;
      display: flex;
      align-items: end;
      li{
        &:last-of-type{
          padding-left: 14px;
        }
        &:nth-child(2){
          padding-left: 14px;
        }
        &:nth-child(3){
          padding-left: 14px;
        }
        &:last-of-type{
          padding-left: 14px;
        }
      }
    }
    p{
      font-family: $main_font;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      color: #163a24;
    }
  }
}
.finish{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  div{
    @include display;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    padding-top: 14px;
    border-top: #fbfaf7 solid 3px;
    ul{
        list-style-type: none;
        display: flex;
      a{
        text-decoration: none;
        font-family: $main-secondfont;
        font-weight: 400;
        font-size: 14px;
        text-align: right;
        color: #198c36;
      }
    }
  }
}





