@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
    url('../fonts/notosans-regular-webfont.woff') format('woff'),
    url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
    url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'recoletaregular';
    src: url('../fonts/recoleta-regular-webfont.eot');
    src: url('../fonts/recoleta-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/recoleta-regular-webfont.woff2') format('woff2'),
    url('../fonts/recoleta-regular-webfont.woff') format('woff'),
    url('../fonts/recoleta-regular-webfont.ttf') format('truetype'),
    url('../fonts/recoleta-regular-webfont.svg#recoletaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #163A24;
}
main{
    background: white;
}
.wrapper {
    background: #163A24;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 437px;
}

.container a img {
    display: flex;
}

header div ul {
    display: flex;
    justify-content: end;
    list-style: none;
    align-items: center;
}

header nav li:nth-child(2) {
    padding-left: 24px;
    padding-right: 24px;
}

header nav li:first-of-type {
    padding-left: 239px;
}

header nav li a {
    color: #FBFAF7;
    text-align: justify;
    font-family: "noto_sansregular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

header nav li:last-of-type {
    border-radius: 160px;
    background: #198C36;
}

.button {
    padding: 15px 25px;
}
.background{
    background: #163A24;
}
.cd-3d-nav-trigger{
    display: none;
}
.page{
    max-width: 1180px;
    margin: auto;
    display: flex;
    background-image: url("../images/Frame.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 130px;
}
.subtitle{
    max-width: 440px;
    display: inline-flex;
    padding-right: 16.656px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
}
h1 {
    max-width: 391px;
    color: #FBFAF7;
    font-family: recoletaregular;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 65.25px; /* 135.938% */
}

main section article span{
    color: #FBFAF7;
    font-family: "noto_sansregular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.put{
    max-width: 1180px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 120px;
    justify-content: space-around;
}
.put article div, .parts article, .fit article{
    max-width: 380px;
}
.put article h3, .parts article h3, .fit article h3, .interest article h3, .models article h3{
    font-family: recoletaregular;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.125;
    color: #163a24;
    padding-bottom: 27px;
}
.put article p, .parts article p, .fit article p, .interest article span, .models article span, .after_list p{
    font-family: "noto_sansregular";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #163a24;
}
.parts{
    max-width: 1180px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.partners{
    padding-bottom: 120px;
}
.excerpt{
    max-width: 1180px;
    margin: auto;
    display: flex;
    padding: 113.516px 98.344px 0px 98.328px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 66.484px;
}
.excerpt h3{
    color: #163A24;
    text-align: center;
    font-family: recoletaregular;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
}
.stripe{
    display: flex;
    height: 59.391px;
    padding: 0px 43.656px 0px 43.672px;
    justify-content: center;
    align-items: center;
    gap: 86px;
}
.hr{
    max-width: 1180px;
    margin: auto;
    padding-bottom: 120px;
    padding-top: 66px;
}
.hr h3{
    color: #FBFAF7;
    text-align: center;
    font-family: recoletaregular;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
}
.hr article{
    max-width: 295px;
    margin: auto;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}
.hr article p{
    color: #FBFAF7;
    text-align: center;
    font-family: "noto_sansregular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.hr .img{
    padding-top: 74px;
    padding-bottom: 28px;
    padding-right: 100px;
    padding-left: 100px;
}
.models{
    background: #F2EFE6;
    padding-top: 120px;
    padding-bottom: 120px;
}
.models .casting{
    display: flex;
    margin: auto;
    max-width: 786.656px;
    padding: 0px 13.313px 16.875px 13.344px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}
.models .casting h2{
    color: #163A24;
    text-align: center;
    font-family: recoletaregular;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
}
.models .casting span{
    color: #163A24;
    text-align: center;
    font-family: "noto_sansregular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.fit{
    padding-top: 180px;
    padding-bottom: 120px;
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.interest{
    max-width: 1180px;
    margin: auto;
    text-align: center;
}
.interest article:first-of-type, .easy{
    padding-bottom: 18px;
}
.interest article span{
    padding-top: 26px;
    padding-bottom: 18px;
}
.aside{
    padding-bottom: 120px;
    align-items: flex-start;
    display: inline-flex;
}
.shield{
    max-width: 353px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 0px rgb(233, 228, 213);
    background: rgb(251, 250, 247);
    padding: 50px 66px 40px 20px;
}
.shield:nth-child(2){
    margin-left: 40px;
    margin-right: 40px;
}
.shield img{
    padding-bottom: 20px;
    padding-right: 190px;
}
.shield ul{
    padding-left: 20px;
}
.aside .shield h4{
    font-family: recoletaregular;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.125;
    color: #163a24;
    text-align: left;
    padding-bottom: 23px;
}
.aside .shield li{
    font-family: "noto_sansregular";
    font-weight: 400;
    font-size: 16px;
    color: #163a24;
    text-align: left;
}
.easy{
    max-width: 1180px;
    padding-bottom: 18px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}
.list{
    position: relative;
}
.after_list{
    display: inline-block;
    padding-top: 23px;
    padding-bottom: 23px;
}
.after_list h4{
    font-family: recoletaregular;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.125;
    text-align: center;
    color: #163a24;
}
.interest div a, .fit article a{
    border-radius: 160px;
    background: rgb(25, 140, 54);
    color: rgb(251, 250, 247);
    font-family: "noto_sansregular";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    padding: 15px 25px;
}
.after_list:first-of-type, .after_list:nth-child(2){
    padding-right: 130px;
}
.after_list1::after{
    position: absolute;
    content: url("../images/Vector1.svg");
    top: 35%;
    right: 65%;
}
.after_list2::after{
    position: absolute;
    content: url("../images/Vector1.svg");
    top: 35%;
    right: 33%;
}
.vector{
    background-image: url("../images/Vector.svg");
    width: 285px;
    height: 179px;
    box-sizing: border-box;
    background-size: contain;
    padding-top: 36px;
    background-repeat: no-repeat;
}
.simple{
    padding-bottom: 34px;
}
.started{
    max-width: 1180px;
    margin: auto;
    text-align: center;
    flex-direction: column;
    padding-bottom: 120px;
    padding-top: 120px;
}
.started h3{
    font-family: recoletaregular;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.125;
    color: #fbfaf7;
}
.started span{
    font-family: "noto_sansregular";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fbfaf7;
    text-align: center;
    padding-bottom: 33px;
    padding-top: 27px;
    display: block;
}
.started a{
    border-radius: 160px;
    background: rgb(250, 181, 160);
    color: rgb(22, 58, 36);
    font-family: "noto_sansregular";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}
.image{
    background-image: url("../images/leaves.svg"), url("../images/leaf.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
}
.stay_up{
    background: #F2EFE6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.stay_up article{
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.stay_up article .date, .stay_up article .sign_up{
    max-width: 590px;
}
.stay_up article .date h3{
    font-family: recoletaregular;
    font-weight: 600;
    font-size: 48px;
    line-height: 112%;
    color: #163a24;
    max-width: 342px;
    padding-bottom: 26px;
}
.stay_up article .date p{
    font-family: "noto_sansregular";
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #163a24;
    max-width: 299px;
}
.stay_up article .sign_up p{
    font-family: "noto_sansregular";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #163a24;
}
.stay_up article .sign_up p a{
    font-family: "noto_sansregular";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #198c36;
    text-decoration: none;
}
form{
    max-width: 590px;
    background: white;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-bottom: 11px;
}
form input{
    width: 80%;
    height: inherit;
    border: none;
    border-radius: 30px;
}
form button{
    border-radius: 160px;
    width: 111px;
    height: 52px;
    background: #15762e;
    font-family: "noto_sansregular";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fbfaf7;
}
.footer{
    padding-top: 20px;
    background-color: white;
}
.company{
    padding-top: 23px;
    padding-bottom: 23px;
    align-items: center;
}
.footer .company{
    position: relative;
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer .company ul{
    list-style-type: none;
    display: flex;
    align-items: end;
}
.footer .company p{
    font-family: recoletaregular;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #163a24;
}
.footer .company ul li:last-of-type, .footer .company ul li:nth-child(2), .footer .company ul li:nth-child(3), .finish div ul a:last-of-type{
    padding-left: 14px;
}
.finish{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.finish div{
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    padding-top: 14px;
    border-top: #fbfaf7 solid 3px;
}
.finish div ul a{
    text-decoration: none;
    font-family: "noto_sansregular";
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #198c36;
}
.finish div ul{
    list-style-type: none;
    display: flex;
}
.finish div ul a:last-of-type{

}






